In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("ES_Trades_377_ticks_training.csv")

In [4]:
print(df)

                      DateTime     Open     High      Low    Close
0      09/01/2013 17:00:00.453  1640.25  1640.75  1639.25  1639.25
1      09/01/2013 17:00:36.227  1639.25  1641.00  1639.00  1639.25
2      09/01/2013 17:01:39.833  1639.25  1640.50  1639.00  1639.75
3      09/01/2013 17:04:52.770  1639.75  1640.75  1639.50  1640.50
4      09/01/2013 17:09:56.961  1640.50  1641.00  1640.00  1641.00
...                        ...      ...      ...      ...      ...
14465  09/20/2013 15:41:51.590  1704.25  1704.50  1704.00  1704.00
14466  09/20/2013 15:56:40.808  1704.00  1704.00  1703.25  1703.75
14467  09/20/2013 16:07:02.016  1704.00  1704.75  1704.00  1704.25
14468  09/20/2013 16:14:22.346  1704.50  1704.75  1703.75  1704.25
14469  09/20/2013 16:14:59.251  1704.25  1704.25  1703.50  1703.75

[14470 rows x 5 columns]

In [8]:
df['Close']=df['Close']-df['Low']

In [11]:
print(df)

                      DateTime     Open     High   Low  Close
0      09/01/2013 17:00:00.453  1640.25  1640.75 -1.50   0.00
1      09/01/2013 17:00:36.227  1639.25  1641.00 -2.00   0.25
2      09/01/2013 17:01:39.833  1639.25  1640.50 -1.50   0.75
3      09/01/2013 17:04:52.770  1639.75  1640.75 -1.25   1.00
4      09/01/2013 17:09:56.961  1640.50  1641.00 -1.00   1.00
...                        ...      ...      ...   ...    ...
14465  09/20/2013 15:41:51.590  1704.25  1704.50 -0.50   0.00
14466  09/20/2013 15:56:40.808  1704.00  1704.00 -0.75   0.50
14467  09/20/2013 16:07:02.016  1704.00  1704.75 -0.75   0.25
14468  09/20/2013 16:14:22.346  1704.50  1704.75 -1.00   0.50
14469  09/20/2013 16:14:59.251  1704.25  1704.25 -0.75   0.25

[14470 rows x 5 columns]

In [10]:
df['Low'] = df['Low']-df['High']

In [12]:
df['High'] = df['High']-df['Open']

In [13]:
df = df.drop(['Open'],axis=1)

In [15]:
print(df)

                      DateTime  High   Low  Close
0      09/01/2013 17:00:00.453  0.50 -1.50   0.00
1      09/01/2013 17:00:36.227  1.75 -2.00   0.25
2      09/01/2013 17:01:39.833  1.25 -1.50   0.75
3      09/01/2013 17:04:52.770  1.00 -1.25   1.00
4      09/01/2013 17:09:56.961  0.50 -1.00   1.00
...                        ...   ...   ...    ...
14465  09/20/2013 15:41:51.590  0.25 -0.50   0.00
14466  09/20/2013 15:56:40.808  0.00 -0.75   0.50
14467  09/20/2013 16:07:02.016  0.75 -0.75   0.25
14468  09/20/2013 16:14:22.346  0.25 -1.00   0.50
14469  09/20/2013 16:14:59.251  0.00 -0.75   0.25

[14470 rows x 4 columns]

In [16]:
df.to_csv("ES_Trades_377_ticksDifR_training.csv",index=False)