In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ES_Trades.csv")

In [3]:
print(df)

        Symbol        Date          Time    Price  Volume Market Flag  \
0        ESU13  09/01/2013  17:00:00.083  1640.25       8           E
1        ESU13  09/01/2013  17:00:00.083  1640.25       1           E
2        ESU13  09/01/2013  17:00:00.083  1640.25       2           E
3        ESU13  09/01/2013  17:00:00.083  1640.25       1           E
4        ESU13  09/01/2013  17:00:00.083  1640.25       1           E
...        ...         ...           ...      ...     ...         ...
5454945  ESZ13  09/20/2013  16:14:58.922  1703.50       7           E
5454946  ESZ13  09/20/2013  16:14:58.922  1703.50       3           E
5454947  ESZ13  09/20/2013  16:14:58.945  1703.75       1           E
5454948  ESZ13  09/20/2013  16:14:59.111  1703.75       1           E
5454949  ESZ13  09/20/2013  16:14:59.251  1703.75       1           E

         Sales Condition  Exclude Record Flag  Unfiltered Price
0                      0                  NaN           1640.25
1                      0                  NaN           1640.25
2                      0                  NaN           1640.25
3                      0                  NaN           1640.25
4                      0                  NaN           1640.25
...                  ...                  ...               ...
5454945                0                  NaN           1703.50
5454946                0                  NaN           1703.50
5454947                0                  NaN           1703.75
5454948                0                  NaN           1703.75
5454949                0                  NaN           1703.75

[5454950 rows x 9 columns]

In [4]:
print(df['Symbol'])

0          ESU13
1          ESU13
2          ESU13
3          ESU13
4          ESU13
           ...
5454945    ESZ13
5454946    ESZ13
5454947    ESZ13
5454948    ESZ13
5454949    ESZ13
Name: Symbol, Length: 5454950, dtype: object

In [5]:
df1 = df[['Symbol']]
df2 = df[['Date','Time','Price','Volume']]

In [7]:
df1 = df1.replace({'ES.+':'ES'},regex=True)
print(df1)

        Symbol
0           ES
1           ES
2           ES
3           ES
4           ES
...        ...
5454945     ES
5454946     ES
5454947     ES
5454948     ES
5454949     ES

[5454950 rows x 1 columns]

In [11]:
df = pd.concat((df1,df2),axis=1)

In [12]:
print(df)

        Symbol        Date          Time    Price  Volume
0           ES  09/01/2013  17:00:00.083  1640.25       8
1           ES  09/01/2013  17:00:00.083  1640.25       1
2           ES  09/01/2013  17:00:00.083  1640.25       2
3           ES  09/01/2013  17:00:00.083  1640.25       1
4           ES  09/01/2013  17:00:00.083  1640.25       1
...        ...         ...           ...      ...     ...
5454945     ES  09/20/2013  16:14:58.922  1703.50       7
5454946     ES  09/20/2013  16:14:58.922  1703.50       3
5454947     ES  09/20/2013  16:14:58.945  1703.75       1
5454948     ES  09/20/2013  16:14:59.111  1703.75       1
5454949     ES  09/20/2013  16:14:59.251  1703.75       1

[5454950 rows x 5 columns]

In [17]:
df.to_csv("ES_Trades.csv",index=False)