In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ES_Trades.csv")

In [3]:
print(df)

        Symbol        Date          Time    Price  Volume
0           ES  09/01/2013  17:00:00.083  1640.25       8
1           ES  09/01/2013  17:00:00.083  1640.25       1
2           ES  09/01/2013  17:00:00.083  1640.25       2
3           ES  09/01/2013  17:00:00.083  1640.25       1
4           ES  09/01/2013  17:00:00.083  1640.25       1
...        ...         ...           ...      ...     ...
5454945     ES  09/20/2013  16:14:58.922  1703.50       7
5454946     ES  09/20/2013  16:14:58.922  1703.50       3
5454947     ES  09/20/2013  16:14:58.945  1703.75       1
5454948     ES  09/20/2013  16:14:59.111  1703.75       1
5454949     ES  09/20/2013  16:14:59.251  1703.75       1

[5454950 rows x 5 columns]

In [5]:
df = df[['Date','Time','Price']]
print(df)

               Date          Time    Price
0        09/01/2013  17:00:00.083  1640.25
1        09/01/2013  17:00:00.083  1640.25
2        09/01/2013  17:00:00.083  1640.25
3        09/01/2013  17:00:00.083  1640.25
4        09/01/2013  17:00:00.083  1640.25
...             ...           ...      ...
5454945  09/20/2013  16:14:58.922  1703.50
5454946  09/20/2013  16:14:58.922  1703.50
5454947  09/20/2013  16:14:58.945  1703.75
5454948  09/20/2013  16:14:59.111  1703.75
5454949  09/20/2013  16:14:59.251  1703.75

[5454950 rows x 3 columns]

In [6]:
df['DateTime'] = df['Date'].astype(str)+" "+df['Time'].astype(str)

In [7]:
print(df)

               Date          Time    Price                 DateTime
0        09/01/2013  17:00:00.083  1640.25  09/01/2013 17:00:00.083
1        09/01/2013  17:00:00.083  1640.25  09/01/2013 17:00:00.083
2        09/01/2013  17:00:00.083  1640.25  09/01/2013 17:00:00.083
3        09/01/2013  17:00:00.083  1640.25  09/01/2013 17:00:00.083
4        09/01/2013  17:00:00.083  1640.25  09/01/2013 17:00:00.083
...             ...           ...      ...                      ...
5454945  09/20/2013  16:14:58.922  1703.50  09/20/2013 16:14:58.922
5454946  09/20/2013  16:14:58.922  1703.50  09/20/2013 16:14:58.922
5454947  09/20/2013  16:14:58.945  1703.75  09/20/2013 16:14:58.945
5454948  09/20/2013  16:14:59.111  1703.75  09/20/2013 16:14:59.111
5454949  09/20/2013  16:14:59.251  1703.75  09/20/2013 16:14:59.251

[5454950 rows x 4 columns]

In [8]:
df = df[['DateTime','Price']]

In [9]:
print(df)

                        DateTime    Price
0        09/01/2013 17:00:00.083  1640.25
1        09/01/2013 17:00:00.083  1640.25
2        09/01/2013 17:00:00.083  1640.25
3        09/01/2013 17:00:00.083  1640.25
4        09/01/2013 17:00:00.083  1640.25
...                          ...      ...
5454945  09/20/2013 16:14:58.922  1703.50
5454946  09/20/2013 16:14:58.922  1703.50
5454947  09/20/2013 16:14:58.945  1703.75
5454948  09/20/2013 16:14:59.111  1703.75
5454949  09/20/2013 16:14:59.251  1703.75

[5454950 rows x 2 columns]

In [10]:
df.to_csv("ES_Trades_comp.csv",index=False)